server {
    listen      80;
    server_name {{ item.name }};
    rewrite     ^ https://$host$request_uri? permanent;
    access_log  /var/log/nginx/{{ item.name }}_access.log  main;
    error_log   /var/log/nginx/{{ item.name }}_error.log  error;
}

server {
    listen      443;
    server_name {{ item.name }};
    access_log  /var/log/nginx/{{ item.name }}_access.log  main;
    error_log   /var/log/nginx/{{ item.name }}_error.log  error;

    root {{ item.server_dir }};
    index index.html index.htm;
    
    ssl on;
    ssl_certificate 	/etc/letsencrypt/live/{{ item.name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ item.name }}/privkey.pem;
    ssl_protocols       SSLv3 TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers         !kEDH:HIGH:!aNULL:!MD5;

    location / {
        default_type "text/html";
        try_files $uri.html $uri $uri/ /index.html;
    }
}