server {
    listen 80;

    server_name {{ item.name }};
    root {{ item.server_dir }};
    index index.html index.htm;

    location / {
        default_type "text/html";
        try_files $uri.html $uri $uri/ /index.html;
    }

    access_log  /var/log/nginx/{{ item.name }}_access.log  main;
    error_log   /var/log/nginx/{{ item.name }}_error.log  error;
}